beautifulsoup4==4.11.1
blinker==1.5
click==8.1.3
commonmark==0.9.1
docutils==0.19
feedgenerator==2.0.0
ghp-import==2.1.0
importlib-metadata==4.13.0
itsdangerous==2.1.2
Jinja2==3.1.2
Markdown==3.4.1
MarkupSafe==2.1.1
pelican==4.8.0
Pygments==2.15.0
python-dateutil==2.8.2
pytz==2022.5
PyYAML==6.0
rich==12.6.0
six==1.16.0
soupsieve==2.3.2.post1
typing-extensions==4.4.0
Unidecode==1.3.6
Werkzeug==2.2.2
zipp==3.10.0
