{% extends 'page.html' %}
{% block title %}Pyladies Brasil - Sobre{% endblock %}

{% block content %}
    <article class="notepad-page-content">
        <div class="title small-12 columns">
            <h1>SOBRE</h1>
        </div>
        <div>
            <figure>
                <img style="height: 230px; padding: -50px;" src="{{ SITEURL}}/images/boneca.png" alt="PyLadies">
            </figure>
            <br/>
            <p class="about-text">
            O PyLadies é uma comunidade mundial que foi trazida ao Brasil com o propósito de instigar mais mulheres a entrarem na área tecnológica. Queremos mudar essa realidade de poucas garotas em uma área tão rica e fantásticas como a computação. E olhe que temos muita história nesse campo viu?!
            </p>
            <p class="about-text">
            Nós percebemos que não haviam motivos para sermos poucas em salas de cursos universitários e técnicos de informática e tecnologia pelo Brasil, então resolvemos nos organizar para dar um jeitinho nisso. Foi então que encontramos outras ladies pelo mundo, que se reuniam em nome da programação e falavam de abstração de um jeito que só ladies sabem falar.
            </p>
            <figure>
                <img src="{{ SITEURL }}/images/about/eventoNatal.jpg" alt="PyLadies">
                    <figcaption>Primeiro encontro do PyLadies Brasil em Natal</figcaption>
            </figure>

            <figure class="third">
                    <a href="{{ SITEURL }}/images/about/eventoRecife01.jpg"><img src="{{ SITEURL }}/images/about/eventoRecife01.jpg"></a>
                    <a href="{{ SITEURL }}/images/about/eventoRecife02.jpg"><img src="{{ SITEURL }}/images/about/eventoRecife02.jpg"></a>
                    <a href="{{ SITEURL }}/images/about/eventoNatal01.jpg"><img src="{{ SITEURL }}/images/about/eventoNatal01.jpg"></a>
            </figure>
            <figure class="half">
                    <a href="{{ SITEURL }}/images/about/eventoNatal02.jpg"><img src="{{ SITEURL }}/images/about/eventoNatal02.jpg"></a>
                    <a href="{{ SITEURL }}/images/about/eventoNatal05.jpg"><img src="{{ SITEURL }}/images/about/eventoNatal05.jpg"></a>
            </figure>
            <br/>

            <p class="about-text">
            Nosso desejo é mostrar às meninas que não há limites para sua capacidade intelectual. Se o desejo delas é escrever linhas de código. Pá! Façam isso. Se quiserem desenvolver super sistemas embarcados. Pá! Desenvolvam. Se querem só brincar fazendo algumas linhas de script python. Pá! Brinquem. E se quiserem revolucionar o mundo mesmo sem ter seu código fonte. Pá! Revolucionem. Por que vocês são capazes.
            </p>
            <p class="about-text">
            Nosso propósito não é segregar, pelo contrário, queremos criar o ambiente para que mais meninas sejam atraídas pela tecnologia. Nosso desejo é fazer com que elas nos vejam e pensem "Eu quero estar ai também!".
            </p>
            <i>Participar do Dojo foi muito legal! Uma experiência que quero repetir muitas e muitas vezes. Além de aprender de uma forma bem diferente e rapida também pude fazer amizades e conhecer melhor esse mundo tão grande e divertido do python.</i>
            **Sara Maria**
        </div>
    </article>
    <div class="cf"></div>

{% endblock %}
