{% extends "base.html" %}
{% block content %}
<article class="notepad-page-content">
    <div class="title small-12 columns">
        <h1>POSTS</h1>
    </div>
    <div>
        <ul class="post-list">
        {% for post in articles %}
          <li><article><i class="fa fa-star-half-o"></i> <a href="{{ SITEURL }}/{{ post.url }}">{{ post.title }}<span class="entry-author"> por {{ post.author }} </span> <span class="entry-date"><time datetime="{{ post.date.isoformat() }}">{{ post.date.strftime("%B %d, %Y") }}</time></span></a></article></li>
        {% endfor %}
        </ul>
    </div>
</article>
<div class="cf"></div>
{% endblock %}
