{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block extra_meta %}
{% if article.description %}
<meta name="description" content="{{ article.description }}">
<meta name="twitter:description" content="{{ article.description }}">
<meta property="og:description" content="{{ article.description }}">
{% endif %}

{% if article.imagefeatured %}
<meta name="twitter:image" content="{{ SITEURL }}/theme/images/{{ article.imagefeatured }}">
<meta property="og:image" content="{{ SITEURL }}/theme/images/{{ article.imagefeatured  }}">
{% endif %}

<meta name="twitter:title" content="{{ article.title }}">
<meta name="twitter:creator" content="@Pyladiesbrazil">
<meta property="og:locale" content="pt_BR">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.title }}">
<meta property="og:url" content="{{ SITEURL }}{{ article.url }}">
{% endblock %}

{% block body_class %}post-template{% endblock %}

{% block extra_header %}
<div class="notepad-post-title-simple row">
    <div class="small-12 columns">
        <div class="notepad-post-meta-simple">
            <h1>{{ article.title }}</h1>
            <p>by <a target="blank" href="{{article.author_url}}">{{ article.author }}</a> &#8212;
			<!-- TODO: consertar isso aqui e remover esse primeiro if -->
			{% if article.tags %}
				{% set tagsize = article.tags.size %}
					{% if tagsize != 0 %}
						on
						{% for tag in article.tags %}
							<a href="{{ SITEURL }}/tags/index.html#{{ tag }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>
							{% if not loop.last %}
								&nbsp;&comma;&nbsp;
							{% endif %}
						{% endfor %}
					{% endif %}
				<strong><time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime("%d/%b/%Y") }}</time></strong></p>
			{% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<article class="notepad-post-content post tag-simple">
    <div>
        {{ article.content }}
    </div>
    <div class="cf"></div>
    {% include 'share.html' %}
    <div class="cf"></div>
    {% if article.comments %}
    <section class="notepad-disqus row">
        <div class="small-12 columns">
            <h1 class="notepad-comments-header">Comments</h1>
            {% include 'disqus_script.html' %}
        </div>
    </section>
    {% endif %}
</article>
{% endblock %}
