<!DOCTYPE html>
<html>
    <head>
    {% include 'head.html' %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header class="notepad-site-head">
            {% include 'header.html' %}
            {% block extra_header %}{% endblock %}
        </header>
        <div class="layout">
            <main class="notepad-content" role="main">
            {% block content %}{% endblock %}
            <div class="row wrap-videos">
                <div class = "video"><embed src="//www.youtube.com/embed/4oHw6LcViMI"></div>
                <div class = "video"><embed src="//www.youtube.com/embed/5M9iFmMqcmc"></div>
                <div class = "video"><embed src="//www.youtube.com/embed/QeFqUjSD7Jw"></div>
            </div>
            </main>
        </div>
        {% include 'footer.html' %}
        {% include 'scripts.html' %}
    </body>
</html>
