<footer class="notepad-site-footer" >
    <div class="copyright">
        <section>All content copyright <a href="{{ SITEURL }}/about">{{ SITENAME }}</a> &copy; {{ SINCE }} &bull; All rights reserved.</section>
        <section>Proudly published with <a class="icon-ghost" href="https://getpelican.com/">Pelican</a></section>
    </div>
    <div class="social-icons">

        <a href="http://twitter.com/pyladiesbrazil" data-toggle="tooltip" title="Twitter">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://plus.google.com/114419825361109783805" data-toggle="tooltip" title="Google Plus">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        <a href="http://github.com/pyladies-brazil" data-toggle="tooltip" title="Github">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        <a href="http://facebook.com/pyladiesbrazil" data-toggle="tooltip" title="Facebook">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://groups.google.com/forum/#!forum/pyladiesbrazil" data-toggle="tooltip" title="Lista de Discussões">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-users fa-stack-1x"></i>
            </span>
        </a>
    </div>
    <div class="cf"></div>
</footer>
