<footer class="notepad-site-footer" >
    <div class="copyright">
        <section>All content copyright <a href="{{ SITEURL }}/about">{{ SITENAME }}</a> &copy; {{ SINCE }} &bull; All rights reserved.</section>
        <section>Proudly published with <a class="icon-ghost" href="https://getpelican.com/">Pelican</a></section>
    </div>
    <div class="social-icons">

        <a href="http://twitter.com/pyladiesbrazil">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://plus.google.com/u/1/115115103611376880963/posts">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        <a href="http://github.com/pyladies-brazil">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        <a href="http://facebook.com/pyladiesbrazil">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
    </div>
    <div class="cf"></div>
</footer>
