<div class="notepad-site-head-menu">
    <a class="notepad-blog-logo" href="{{ SITEURL }}"><img src="{{ SITEURL }}/{{ DEFAULT_BG }}" alt="Pyladies Logo" /></a>
    <div class="notepad-blog-menu">
        <div class="notepad-mobile-menu show-for-small">
            <a href="#"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="notepad-menu">
            <li class="notepad-mobile-close-btn show-for-small text-right">
                <a href="#"><i class="fa fa-times"></i></a>
            </li>
            {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
