<meta charset="utf-8">
<title>{% block title %}{{ SITENAME }}{% endblock %}</title>

<meta property="og:site_name" content="{{ SITENAME }}">
<meta name="twitter:card" content="summary">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,300,800,700' rel='stylesheet'
    type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"
    type='text/css'>

<link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css">
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/nprogress.css">
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.min.css">
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/post.css">
<link rel="stylesheet" href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css">


{% if page %}
<!--Load Mathjax-->
<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
    MathJax.Hub.Config({
        config: ["MMLorHTML.js"],
        extensions: ["tex2jax.js", "TeX/AMSmath.js", "TeX/AMSsymbols.js"],
        jax: ["input/TeX"],
        tex2jax: {
            inlineMath: [['$', '$'], ["\\(", "\\)"]],
            displayMath: [['$$', '$$'], ["\\[", "\\]"]],
            processEscapes: false
        },
        TeX: {
            TagSide: "right",
            TagIndent: ".8em",
            MultLineWidth: "85%",
            equationNumbers: {
                autoNumber: "AMS",
            },
            unicode: {
                fonts: "STIXGeneral,'Arial Unicode MS'"
            }
        },
        showProcessingMessages: false
    });
</script>
{% endif %}

<link rel="apple-touch-icon" sizes="57x57" href="{{ SITEURL }}/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ SITEURL }}/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ SITEURL }}/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ SITEURL }}/images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ SITEURL }}/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ SITEURL }}/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ SITEURL }}/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ SITEURL }}/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/images/favicons/favicon-16x16.png">