<div class="notepad-site-head-menu">
    <a class="notepad-blog-logo small-6 medium-3 columns" href="{{ SITEURL }}">
        <img width="146" height="60" src="{{ SITEURL }}/{{ DEFAULT_BG }}" alt="Pyladies Logo" />
    </a>
    <div class="notepad-blog-menu small-6 medium-9 columns">
        <div class="notepad-mobile-menu show-for-small">
            <a href="#"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="notepad-menu">
            <li class="notepad-mobile-close-btn show-for-small text-right">
                <a href="#"><i class="fa fa-times"></i></a>
            </li>
            {% for title, link in MENUITEMS %}
            <li><a href="{{ SITEURL }}{{ link }}">{{ title }}</a></li>
            {% endfor %}
            <li><a href="http://pyladiesbrasil.iluria.com/index.html" target="_blank">Lojinha</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
