{% extends "base.html" %}
{% block content %}
{% if articles %}
    {% for post in articles_page.object_list[:3] %}
    <article class="notepad-index-post post row">
        <div class="small-12 medium-3 large-2 columns datetime">
            <span class="notepad-post-meta">
                <time datetime="{{ post.date.isoformat() }}">
                    <span class="day">
                        {{ post.date.strftime("%d") }}
                    </span>
                    <span class="month-year">
                        {{ post.date.strftime("%B %Y") }}
                    </span>
                </time>
            </span>
        </div>

        <div class="small-12 medium-9 large-10 columns">
            <header class="notepad-post-header">
                <h3 class="notepad-post-title">
                    <a href="{{ SITEURL }}/{{ post.url }}">
                        {{ post.title|striptags }}
                    </a>
                </h3>
            </header>
            <section class="notepad-post-excerpt">
                <p>{{ post.summary }}</p>
            </section>

            <div class="notepad-index-post-tags">
                {% if post.category %}
                <a href="{{ SITEURL }}/category/{{ post.category|lower }}.html" title="Other posts from the {{ post.category|capitalize }} category">{{ post.category|capitalize }}</a>
                {% endif %}
            </div>
        </div>
    </article>
    {% endfor %}
    <nav class="pagination" role="navigation">
        <a class="newer-posts" href="{{ SITEURL }}/archives">View All Posts</a>
    </nav>
{% else %}
{% endif %}
{% endblock %}
