{% extends "base.html" %}
{% block content %}
{% if articles %}
{% for post in articles_page.object_list[:6] %}
<article class="notepad-index-post post small-12 medium-12 large-12">
  <div class="post-header row">
    <span class="small-10 columns notepad-post-meta">
      <time datetime="{{ post.date.isoformat() }}">
        <span class="day">{{ post.date.strftime("%d %B %Y") }} -
          <a href="{{ SITEURL }}/{{ post.url }}">
            {{ post.title|striptags }}
          </a>
        </span>
      </time>
    </span>
  </div>
  <div class="row">
    <section class="small-12 columns notepad-post-excerpt">
      <a href="{{ SITEURL }}/{{ post.url }}">
        <p>{{ post.summary }}</p>
      </a>
    </section>
    <div class="small-12 columns notepad-index-post-tags">
      {% if post.category %}
      <a href="{{ SITEURL }}/category/{{ post.category|lower }}.html"
        title="Other posts from the {{ post.category|capitalize }} category">{{ post.category|capitalize }}</a>
      {% endif %}
    </div>
  </div>
  <hr />
</article>
{% endfor %}
<!-- <nav class="pagination" role="navigation">
  <a class="newer-posts" href="{{ SITEURL }}/archives">Ver todos os posts</a>
</nav> -->
{% else %}
{% endif %}
{% endblock %}