{% extends 'page.html' %}
{% block title %}Pyladies Brasil - Locais{% endblock %}
{% block content %}
<article class="notepad-page-content">
  <div class="title small-12 columns">
    <h1>LOCAIS</h1>
  </div>
  <div>
    <div id="archive">
      <div class="wrap wrap-events">
        <div class="large-12 columns-events">
          <iframe class="mapa" src="{{ SITEURL }}/theme/html/mapa.html"></iframe>
          <ul class="grid large-block-grid-6 locations-grid">
            {% for location in LOCATIONS %}
            <li class="location">
              <div>
                <img class="img-location" src="{{ SITEURL }}{{ location.image }}">
              </div>

              {% if location.url %}
              <a target="_blank" href="{{ location.url }}">
                <span class="location-name">Pyladies {{ location.city }} - {{ location.state }}</span>
                <i class="fa fa-external-link location-external-link" aria-hidden="true"></i>
              </a>
              {% else %}
              <span class="location-name">Pyladies {{ location.city }} - {{ location.state }}</span>
              {% endif %}

              <div class="social-icons">
                {% if location.twitter %}
                <a target="_blank" href="{{ location.twitter }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>
                </a>
                {% endif %}

                {% if location.email %}
                <a target="_blank" href="mailto:{{ location.email }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                  </span>
                </a>
                {% endif %}

                {% if location.facebook %}
                <a target="_blank" href="{{ location.facebook }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                  </span>
                </a>
                {% endif %}

                {% if location.instagram %}
                <a target="_blank" href="{{ location.instagram }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                  </span>
                </a>
                {% endif %}

                {% if location.youtube %}
                <a target="_blank" href="{{ location.youtube }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-youtube-square fa-stack-1x"></i>
                  </span>
                </a>
                {% endif %}

              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
