<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/js/jquery-1.11.1.min.js"><\/script>')</script>
<script src="{{ SITEURL }}/theme/js/modernizr.js"></script>
<script src="{{ SITEURL }}/theme/js/foundation.min.js"></script>

{% if page %}
<script src="{{ SITEURL }}/theme/js/background-check.js"></script>
<script src="{{ SITEURL }}/theme/js/post-header-animations.js"></script>
{% endif %}

<script src="{{ SITEURL }}/theme/js/notepad.js"></script>
<script src="{{ SITEURL }}/theme/js/scripts.min.js"></script>
<script src="{{ SITEURL }}/theme/js/nprogress.js"></script>
<script src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
<script src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>
