<div class="row text-center">
    <section class="notepad-post-share">
        <h4>Gostou? Compartilhe:</h4>
        <a class="twitter-icon" href="https://twitter.com/intent/tweet?text=&quot;{{ article.title }}&quot;%20{{ SITEURL }}{{ article.url }}%20via%20&#64;pyladiesbrazil"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="facebook-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}{{ article.url }}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="google-icon" href="https://plus.google.com/share?url={{ SITEURL }}{{ article.url }}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
            <i class="fa fa-google-plus"></i>
        </a>
    </section>
</div>
