{% extends 'page.html' %}
{% block title %}PyLadies Brasil - Vídeos{% endblock %}
{% block content %}
<article class="notepad-page-content">
    <div class="title small-12 columns">
        <h1>DOJOS</h1>
    </div>
    <div>
        <div id="archive">
            <div class="notepad-content">
              <div class="row wrap-videos">
                {% for video in VIDEOS_DOJOS %}
                <div class = "video"><embed src={{ video.url }}></div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}
